@import "tailwindcss";
/* Ẩn con mắt của trình duyệt */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
